ul.list-style {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.custom-select {
    border: 2px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

.container1 {
  margin-top: 8px;
}

.h1-style {
  margin-top: 3em;
}

